
body{
  background: linear-gradient(90deg, rgba(126,46,62,1) 27%, rgba(128,29,58,1) 38%, rgba(110,43,53,1) 68%, rgba(111,48,61,1) 91%);
}
button{
    padding:20px 20px ;
    margin:40px ;
    border: none;
    font-size: 22px;
    cursor: pointer;
    background: radial-gradient(circle, rgba(157,108,187,1) 27%, rgba(145,66,184,1) 50%, rgba(142,120,198,1) 75%, rgba(170,133,215,1) 92%);
    color:maroon;
    border-radius: 5px;
    box-shadow:1px 3px 4px 5px silver;
  }
.q{
  padding:20px 20px ;
  height: 80px;
  width: 350px;
  margin:100px ;
  border: none;
  font-size: 25px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(157,108,187,1) 27%, rgba(145,66,184,1) 50%, rgba(142,120,198,1) 75%, rgba(170,133,215,1) 92%);
  border-radius: 6px;
  box-shadow:1px 3px 4px 5px silver;
}
a{
  text-decoration: none;
  color:maroon;
}
.q:hover{
  font-size: 28px;
  width: 380px;
}
/* responsivness */
  @media(max-width: 700px) 
       { button
        {width: 70%;}}     